{% extends "blog/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% translate "About Page" %}</h1>
    <div class="content-section">
        <div>
            {% blocktranslate %}
                Blog website built with Django following <a href="https://github.com/CoreyMSchafer">Corey Schafer</a>'s <a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">course</a>.
                It uses his templates and CSS <a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog/snippets">snippets</a>.
            {% endblocktranslate %}
        </div>
    </div>
{% endblock content %}