{% extends "blog/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% translate "Log In" %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">{% translate "Login" %}</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">{% translate "Forgot Password?" %}</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% translate "Need An Account?" %} <a href="{% url 'register' %}" class="ml-2">{% translate "Sign Up Now" %}</a>
            </small>
        </div>
    </div>
{% endblock content %}